<div id="da-slider" class="da-slider">
    <tpl for="items">
        <div class="da-slide">
            <h2>{channelName}</h2>
            <div class="da-img"><img src="resources/images/1.png" alt="image01" style="width:100px;height:100px" /></div>
            <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>

            <a href="#" class="da-link">More</a>
        </div>
    </tpl>
    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>
</div>
