<div id="da-slider" class="da-slider">
    <tpl for="items">
        <div class="da-slide">
            <h2>{channelName}</h2>
            <div class="da-img"><img src="{img}" alt="image01" style="width:100px;height:100px" /></div>
            <p><b>{title}</b> - <span style="font-size:14px">{summary}<span></span></p>

            <a href="#" class="da-link">More</a>
        </div>
    </tpl>
    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>
</div>
